@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

/* .criminalContent {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
} */
.container {
	padding: 10px;
}

.criminal:hover {
	position: relative;
	top: -5px;
}

h1 {
	text-align: center;
}

.criminalsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.criminal {
	flex-basis: 21%;
	border: 2px solid black;
	text-align: center;
	margin: 7px;
	padding: 7px;
	border-radius: 5%;
}